form
{
    display: flex;
    justify-content: center;
}

label
{
    display: block;
    text-align: right;
}

.container
{
    display: flex;
    justify-content: center;
}

p
{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
